<div [ngClass]="widthClass">
  <div class="relative flex items-center w-full">
    <p-iconfield class="w-full group">
      <p-inputicon class="!left-3 flex items-center justify-center transition-colors"
        [ngClass]="themeService.isDarkMode() ? 'text-[#8B949E] group-hover:text-[#58A6FF]' : 'text-[#48021C]/70 group-hover:text-[#48021C]'">
        <i class="pi pi-search text-xs"></i>
      </p-inputicon>
      <input type="text" pInputText [ngModel]="value" (ngModelChange)="onModelChange($event)"
        [placeholder]="placeholder" autocomplete="off"
        class="w-full text-xs h-9! !pl-8.5 !pr-8 !rounded-xl transition-all duration-200"
        [ngClass]="themeService.isDarkMode() 
          ? '!bg-[#161B22] !border-[#30363D] hover:!border-[#58A6FF]/60 hover:!bg-[#1C2128] focus:!bg-[#161B22] focus:!border-[#58A6FF] focus:!ring-2 focus:!ring-[#58A6FF]/20 !text-[#F0F6FC] font-medium placeholder:!text-[#8B949E] placeholder:font-normal' 
          : '!bg-rose-50/40 !border-[#48021C]/25 hover:!border-[#48021C]/60 hover:!bg-white focus:!bg-white focus:!border-[#48021C] focus:!ring-2 focus:!ring-[#48021C]/10 !text-[#48021C] font-semibold placeholder:!text-slate-400 placeholder:font-normal'" />
      @if (value) {
      <button type="button" (click)="clear()"
        class="absolute right-2.5 top-1/2 -translate-y-1/2 w-4.5! h-4.5! rounded-full flex items-center justify-center text-[9px]! transition-colors cursor-pointer"
        [ngClass]="themeService.isDarkMode() 
            ? 'bg-[#30363D] hover:bg-[#58A6FF] text-slate-300 hover:text-[#0D1117]' 
            : 'bg-slate-200 hover:bg-[#48021C] hover:text-white text-slate-500'">
        <i class="pi pi-times text-[9px]! ml-[0.5px] mt-[0.5px]"></i>
      </button>
      }
    </p-iconfield>
  </div>
</div>