.confirm-modal-dialog .p-dialog-content {
  padding: 0;
}

.confirm-modal-dialog .confirm-modal-icon,
.confirm-modal-dialog .confirm-modal-icon::before {
  font-size: 1.5rem !important;
  line-height: 1 !important;
}
